<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.study.generator.mapper.SalaryGradeMapper">
  <resultMap id="BaseResultMap" type="com.yjh.study.generator.domain.SalaryGrade">
    <id column="GRADE" jdbcType="INTEGER" property="grade" />
    <result column="HIGH_SALARY" jdbcType="REAL" property="highSalary" />
    <result column="LOW_SALARY" jdbcType="REAL" property="lowSalary" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from SALARY_GRADE
    where GRADE = #{grade,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yjh.study.generator.domain.SalaryGrade">
    insert into SALARY_GRADE (GRADE, HIGH_SALARY, LOW_SALARY
      )
    values (#{grade,jdbcType=INTEGER}, #{highSalary,jdbcType=REAL}, #{lowSalary,jdbcType=REAL}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yjh.study.generator.domain.SalaryGrade">
    update SALARY_GRADE
    set HIGH_SALARY = #{highSalary,jdbcType=REAL},
      LOW_SALARY = #{lowSalary,jdbcType=REAL}
    where GRADE = #{grade,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select GRADE, HIGH_SALARY, LOW_SALARY
    from SALARY_GRADE
    where GRADE = #{grade,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select GRADE, HIGH_SALARY, LOW_SALARY
    from SALARY_GRADE
  </select>
</mapper>